In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
univ = pd.read_csv('../atlasint-br/hei-br-list.csv')

## Overview on internationalization bureau's organizational status

In [5]:
int_classes = univ['ISC'].unique().tolist(); int_classes.remove('NF'); 
int_classes = sorted(int_classes)
translation = ['Agency','Advisory','Coordination','Directorate',
               'Office', 'Nucleus','Dean Office','Secretary','Sector','Superintendency']
classes_en = dict(zip(int_classes,translation))

ISC_en = univ['ISC'].copy()

for pt,en in classes_en.items():
    ISC_en = ISC_en.str.replace(pt,en)

In [6]:
a,b,c = ISC_en.value_counts().keys().tolist(), ISC_en.value_counts().values, ISC_en.value_counts(normalize=True).values

In [7]:
pd.DataFrame({'Class':a,'Frequency':b,'Percentage':c})

              Class  Frequency  Percentage
0          Advisory         33    0.305556
1       Directorate         20    0.185185
2         Secretary         16    0.148148
3      Coordination         12    0.111111
4            Office          8    0.074074
5       Dean Office          5    0.046296
6                NF          5    0.046296
7   Superintendency          3    0.027778
8            Agency          3    0.027778
9           Nucleus          2    0.018519
10           Sector          1    0.009259